name: travel_auth_ui
description: Modern auth UI with glowing theme
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  flutter_svg: ^2.0.9
  google_sign_in: ^6.2.1
  intl: ^0.18.1
  fl_chart: ^0.66.2  # Remplace charts_flutter par fl_chart
  provider: ^6.1.1
  cupertino_icons: ^1.0.6
  collection: ^1.17.0
  # syncfusion_flutter_charts: ^20.4.52  # Temporarily disabled due to conflict

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/
